<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="event.css">
    <link rel="icon" type="image/png" href="./assets/favicon.png">
    <title>ESB Event - Page En Construction</title>
</head>
<body>
    <div class="page-container">
        <div class="page-content">
            <img src="./assets/construction.webp" alt="construction icon">
            <h1>Cette Page Est Toujours En Construction</h1>
            <p>
                Soyez patients ! des améliorations excitantes arrivent bientôt sur notre 
                site ESB Event toujours en cours de construction pour façonner votre expérience !
            </p>
            <p class="signature">
                Signé avec soin de la part de  : 
                <em>Mariem </em> 
            </p>
            <button>
                <a href="/home">Retour A La Page D'Acceuil</a>
            </button>
        </div>
    </div>
</body>
</html>